/* .contenedor {
  height: 200vh;
  width: 100vw;
  position: absolute;
} */

.grid {
  pointer-events: none;
  position: absolute;
  width: 110%;
  height: 110%;
  top: -5%;
  left: -5%;
  display: grid;
  grid-template-columns: repeat(50, 2%);
  grid-template-rows: repeat(50, 2%);
}

.grid__item {
  position: relative;
}

.grid__item-img {
  position: relative;
  width: 120%;
  height: 120%;
  background-size: cover;
  background-position: 50% 50%;
  opacity: 0.8;
}

.pos-1 {
  grid-area: 10 / 1 / 26 / 6;
}

.pos-2 {
  grid-area: 1 / 18 / 12 / 27;
}

.pos-3 {
  grid-area: 1 / 30 / 20 / 52;
}
.pos-4 {
  grid-area: 13 / 11 / 32 / 18;
}

.pos-5 {
  grid-area: 17 / 18 / 32 / 27;
}

.pos-6 {
  grid-area: 26 / 46 / 34 / 51;
}

.pos-7 {
  grid-area: 43 / 1 / 51 / 10;
}

.pos-8 {
  grid-area: 26 / 30 / 34 / 37;
}

.pos-9 {
  grid-area: 40 / 26 / 51 / 32;
}

.pos-10 {
  grid-area: 37 / 39 / 48 / 47;
}
