@import "./_variables.scss";

@function weight($weight-name) {
  @return map-get($font-wights, $weight-name);
}
body {
  box-sizing: border-box;
  margin: 0;
  background-color: transparent;
  color: $secondary-color;
}

.Navbar {
  background-color: transparent;
  position: absolute;
}
// .logo:hover {
//   cursor: url("/public/images/camera.png");
// }
.btn1 {
  margin-left: auto;
}
.btn1,
.btn2,
.btn3 {
  color: $secondary-color;
  margin-right: 40px;
  text-decoration: none;
  height: 40px;
  border-radius: 10%;
  display: flex;
  align-items: center;
}
.btn1:hover,
.btn2:hover,
.btn3:hover {
  text-decoration: underline;
}
.carro {
  margin-left: auto;
  color: $secondary-color;
}
.burger {
  visibility: hidden;
  margin-left: 20px;
}

@media screen and (max-width: "768px") {
  .burger {
    visibility: visible;
  }
}
